@import "tailwindcss";

body {
  font-family: 'Mulish';
}
.rbc-event {
  background-color: #1D6BAC !important
}
.rbc-today {
  background-color: #e4eefa !important;
}
.rbc-toolbar button.rbc-active {
  color: white;
}
.rbc-allday-cell,
.rbc-allday-header {
  display: none;
}
.rbc-button-link{
  font-size: large;
}
.rbc-current-time-indicator {
  background-color: #1D6BAC !important; 
  height: 2px;            
  position: relative;    
}
.rbc-current-time-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px; 
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 9999px; 
  background-color: #3b82f6; 
  box-shadow: 0 0 6px #3b82f6;
}
@keyframes slideIn {
  0% { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

